
h1{
    font-family: cursive;
    font-size: 60px;
    margin-left: 160px;
}

#buttons{
   /* background-color: #3d5af1;*/
    width: 450px;
    height: 345px ;
    border: 4px emboss white;
    margin-left: 302px;
    padding-left:5px ;
}

button{
    font-size: 50px;
    font-family: Helvetica;
    width: 75px;
    height: 75px;
    border-color: black;
    border: black solid 3px;
    border-radius: 30px;
    background-color: #22d1ee;
    margin: 5px;
}

#res{
    background-color: lightgreen;

}

#ce{
    font-size: 40px;
}
.op{
    background-color: #0e153a;
    color: white;
}


#screen{
    background-color: #e2f3f5;
    width: 302px;
    height: 345px;
    border: 4px groove black;
    text-align: right;
    font-family: cursive;
    font-size: 40px;
    float: left;
}
#input{
    height: 272px;
    width: 300px;
    overflow: auto;
}
#result{
    border-top: 2px solid black;
    height: 70px;
    width: 300px;
    padding-right: 4px;
    overflow: auto;
}

